* {
font-family: 'Montserrat', sans-serif;
font-weight: 300;
}

body{
  background-color: #f1f1f1;
}

.card {
  margin-bottom: 5%;
}

.deskslider{
  display: block;
}

@media (max-width:768px) {
  .deskslider{
    display: none;
    background-color: black;
  }
}

@media(min-width:1200px){
  .first-selector{
    margin-left:3%;
  }
}

.navbar{
  background-color: #f1f1f1;
  transition: .5s;
}

.navbar.active {
    background-color: #ffffff!important;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    transition: .5s;
}
